﻿
@{
    ViewBag.Title = "CreateActorMovie";
}

<h2>CreateActorMovie</h2>

<form action="/ActorMovies/CreateActorMovie" method="post">


    Movie Title @Html.DropDownList("MovieId", "")

    <ul style="list-style-type:none;">
        @foreach (var actor in ViewBag.Actor)
        {
            <li>
                <input type="checkbox" name="ActorIds" value="@actor.ActorId" /> @actor.Name
            </li>
        }
    </ul>

    <input  type="submit" value="Assign Actor to Movie" />

</form>