﻿@model MovieReview.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>





<h2>Movies</h2>

<p>
    <a asp-action="Index">Back to Movies</a>
</p>

<div>
    <div style="float:left"><img src="@Url.Content("~/images/" + @Model.ImagePath)"></div>

</div>
<div>
    <div>
        <h1>@Model.Title</h1>
        <p>@Model.Description</p>
        <div>
            <div>
                Director
            </div><div>
                @Html.DisplayNameFor(model => model.Director.Name)
            </div><div>
            </div><div>
                Release Date : @Model.Year.ToString("yyyy-MM-dd")
            </div><div>

            </div><div>
            </div><div>
                Genre :  @Model.Genre
            </div><div>
            </div><div>
                Main cast : 


            </div>
        </div>


        <div class="clear"></div>


    </div>
</div>


<div>
    <a asp-action="Edit" asp-route-id="@Model.MovieId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>


